{% extends 'base.html' %}

{% load static bootstrap4 %}

{% block title %}{{ block.super }} | Register Print Shop{% endblock %}

{% block js %}
<script language="JavaScript" src="http://www.geoplugin.net/javascript.gp" type="text/javascript"></script>
<script language="Javascript">
  $(function () {

    {# populate from geo plugin as default #}
    console.log(parseFloat(geoplugin_latitude()).toFixed(7));
    if(!$('#id_latitude').val() || $('#id_latitude').val() == '0') {
      $('#id_latitude').val(parseFloat(geoplugin_latitude()).toFixed(7));
    }
    if(!$('#id_longitude').val() || $('#id_longitude').val() == '0') {
      $('#id_longitude').val(parseFloat(geoplugin_longitude()).toFixed(7));
    }
    if(!$('#id_city').val()) {$('#id_city').val(geoplugin_city());}
    if(!$('#id_country').val()) {$('#id_country').val(geoplugin_countryName());}

    var options = {
      enableHighAccuracy: true,
      timeout: 5000,
      maximumAge: 0
    };

    {# try more accurate position from browser #}
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(geoPosition, geoError, options);
    }

    function geoError(err) {
      console.log(err);
    }

    function geoPosition(position) {
      $('#id_latitude').val(position.coords.latitude.toFixed(7));
      $('#id_longitude').val(position.coords.longitude.toFixed(7));
    }
  });


  </script>

{% endblock %}

{% block content %}
<div class="row">
  <div class="col">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {% bootstrap_form form %}
      <div class="btn-group col-lg-6 col-md-8 col-sm-12 pull-right" role="group" aria-label="">
        <button class="btn btn-primary col-sm-6 btn-lg" type="submit">Register</button>
        <a href="{% url 'list_print_shop' %}" class="btn btn-danger col-sm-6 btn-lg">Cancel</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
