{% load staticfiles bootstrap4 %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% block title %}(no title){% endblock %}</title>

  {# Load CSS and JavaScript #}
  {% bootstrap_css %}
  {% block css %}{% endblock %}
</head>

<body class="{% block bodyclass %}{% endblock %}">
  {% block content %}(no content){% endblock %}
  {% bootstrap_javascript jquery='full' %}
  {% block js %}{% endblock %}
</body>
</html>
